// #chart1 {

// }

.linechart {
  width: 50vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  align-items: center;
}

.buttons {
}
